<div class="modal" id="uploadModal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Upload Document</h3>
      <p class="modal-description">Upload a new document to your workspace.</p>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="form-label">Workspace</label>
        @if (workspaceId) {
          <input type="hidden" id="workspaceId" [(ngModel)]=" selectedWorkspaceId" [value]="workspaceId" />
          
        }@else{
        <select
          class="form-select"
          id="uploadWorkspace"
          [(ngModel)]="selectedWorkspaceId"
        >
          <option *ngFor="let ws of workspaces" [value]="ws.id">
            {{ ws.name }}
          </option>
        </select>
        }
      </div>

      <div class="form-group">
        <label class="form-label">File</label>
        <input
          type="file"
          class="form-input"
          accept=".pdf,.doc,.docx,.txt,.jpg,.png"
          id="uploadFile"
          (change)="onFileChange($event)"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      <button class="btn btn-primary" (click)="upload()">Upload</button>
    </div>
  </div>
</div>
